<h1>Listing blogs</h1>
 
<table>
	<tr>
		<th>Name</th>
		<th>User_id</th>
		<th>User login</th>
		<th>Creation date</th>
		<th></th>
	</tr>
 
	<% @blog.each do |blog| %>
    <tr>
		<td><%= blog.name %></td>
		<td><%= blog.user_id %></td>
		<td><%= User.find(blog.user_id).login %></td>
		<td><%= blog.created_at %></td>
		<td><%= link_to 'Show', blogbasis_path(blog) %></td>
    </tr>
	<% end %>
</table>

<%= link_to 'Home', root_path %>