<h1>Listing blogs</h1>
 
<%= link_to 'Create new blog', new_blogbasis_path %>
<table>
	<tr>
		<th>Name</th>
		<th>User_ID</th>
		<th></th>
	</tr>
 
	<% @blogs.each do |blog| %>
    <tr>
		<td><%= blog.name %></td>
		<td><%= blog.user_id %></td>
		<td><%= link_to 'Edit', edit_blogbasis_path(blog) %></td>
    </tr>
	<% end %>
</table>

<%= link_to 'Home', root_path %>