<h1>New Blog<h1>

<%= form_with model: @blog, local: true do |form| %>
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>
	
	<%= @kurla %>
	
	<%= hidden_field_tag(:user_id, @id) %>
	
	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back to users', users_path %>