<div class="container">
	<p>
		<strong>Blog name:</strong>
		<%= @blog.name %>
		<%= link_to 'Add new Entry', new_entry_path(:blog_id => @blog.id) %>
	</p>

	<% @entry.each do |entry| %>
		<div class="row"/>
		<div class="col-lg-8 col-md-10 mx-auto post-preview">
			<hr/>
			<%= link_to(entry_path(entry)) do %>
				<h2 class="post-title"><%= entry.title %></h2>
				<div class="post-meta"><%= entry.created_at %></div>
			<% end %>
			<div class="text"><%= entry.text %></div>
			
		</div>
		<div>
	<% end %>
	<hr/>
</div>