<p>
	<strong>Blog name:</strong>
	<%= @blog.name %>
</p>

<%= link_to 'Add new Entry', new_entry_path(:blog_id => @blog.id) %>

<% @entry.each do |entry| %>
	<br><br>
	<strong><%= entry.title %></strong>
	(<%= entry.created_at %>)
	<br>
	<%= entry.text %>
<% end %>