<h1>New Entry<h1>

<%= form_with model: @entry, local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>
	
	<p>
		<%= form.label :text %><br>
		<%= form.text_area :text %>
	</p>
	
	<%= form.hidden_field(:blogbase_id, :value => params[:blog_id]) %>
	
	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back to users', users_path %>