<p>
	<strong>Login:</strong>
	<%= @user.login %>
</p>

<% if current_user && current_user.id.to_s == params[:id] %>
<%= link_to 'Add blog', new_blogbasis_path(:user_id => @user.id) %>
<% end %>

<div class="jumbotron">
<table>
	<tr>
		<th>Blog name</th>
		<th></th>
	</tr>
 
	<% @blog.each do |blog| %>
    <tr>
		<td><%= blog.name %></td>
		<td><%= link_to 'Show', blogbasis_path(blog) %></td>
    </tr>
	<% end %>
</table>
</div>

<%= link_to 'All users', users_path %>
<%= link_to 'Edit', edit_user_path %>
<%= link_to 'Home', root_path %>